@model KaraokeApp.Models.Playlist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Singer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Singer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
